@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    outline: none;

}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
header .side-logo{
    width: 28px;
    height: 28px;
}
header .side-logo img{
    width: 100%;
    height: 100%;
}
menu ul {
    display: flex;
    gap: 1em;
    align-items: center;
}
header menu ul li .menu-icon{
    display: block;
    width: 16px;
    border-top: 2px solid white;
}
header menu ul li .menu-icon::before,header menu ul li .menu-icon::after{
    content: '';
    display: block;
    width: auto;
    height: 2px;
    background-color: white;
    margin-top: 5px;
}
header menu ul li .img-icon{
    width: 20px;
    height: 20px;
}
header menu ul li .img-icon img{
    width: 100%;
    height: 100%;
}
header menu ul .creat-account{
    display: block;
    background-color: white;
    padding: 6px 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    color: black;
}