*{
    margin: 0px;
    padding: 0px;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

:root {
    --fds-black: #000000;
    --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
    --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
    --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
    --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
    --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
    --fds-blue-05: #ECF3FF;
    --fds-blue-30: #AAC9FF;
    --fds-blue-40: #77A7FF;
    --fds-blue-60: #1877F2;
    --fds-blue-70: #2851A3;
    --fds-blue-80: #1D3C78;
    --fds-button-text: #444950;
    --fds-comment-background: #F2F3F5;
    --fds-dark-mode-gray-35: #CCCCCC;
    --fds-dark-mode-gray-50: #828282;
    --fds-dark-mode-gray-70: #4A4A4A;
    --fds-dark-mode-gray-80: #373737;
    --fds-dark-mode-gray-90: #282828;
    --fds-dark-mode-gray-100: #1C1C1C;
    --fds-gray-00: #F5F6F7;
    --fds-gray-05: #F2F3F5;
    --fds-gray-10: #EBEDF0;
    --fds-gray-20: #DADDE1;
    --fds-gray-25: #CCD0D5;
    --fds-gray-30: #BEC3C9;
    --fds-gray-45: #8D949E;
    --fds-gray-70: #606770;
    --fds-gray-80: #444950;
    --fds-gray-90: #303338;
    --fds-gray-100: #1C1E21;
    --fds-green-55: #00A400;
    --fds-highlight: #3578E5;
    --fds-highlight-cell-background: #ECF3FF;
    --fds-primary-icon: #1C1E21;
    --fds-primary-text: #1C1E21;
    --fds-red-55: #FA383E;
    --fds-soft: cubic-bezier(.08,.52,.52,1);
    --fds-spectrum-aluminum-tint-70: #E4F0F6;
    --fds-spectrum-blue-gray-tint-70: #CFD1D5;
    --fds-spectrum-cherry: #F35369;
    --fds-spectrum-cherry-tint-70: #FBCCD2;
    --fds-spectrum-grape-tint-70: #DDD5F0;
    --fds-spectrum-grape-tint-90: #F4F1FA;
    --fds-spectrum-lemon-dark-1: #F5C33B;
    --fds-spectrum-lemon-tint-70: #FEF2D1;
}

/* inicializando a istilizacao do cabecalho */

header{
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.289);
    height: 60px;
    background-color: white;
}
header .logo ul{
    gap: 8px;
}
header .logo .img-search{
    width: 40px;
    height: 40px;
    background-color:var(--fds-gray-00);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000000;
}
header .logo .img-search img{
    width: 100%;
    height: 100%;
  
    
}
header .logo h1{
    font-size: 2.2em;
    background-color: var(--fds-blue-60);
    color: var(--fds-blue-05);
    font-family: sans-serif;
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
    fill: var(--always-white);
}
header ul {
    display: flex;
}
header ul li .icon {
   position: relative;

   width: 30px;
   height: 30px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

}
header ul li .icon .menuIcon{
    display: block;
    border-top: 3px solid black;
    margin-top: 6px;
    
}
header ul li .icon .menuIcon::before,.menuIcon::after{
    content: '';
    display: block;
    margin-top: 4px;
    width: auto;
    height: 3px;
    background-color: black;

}
header nav ul{
    gap: 12px;
    margin-left: 30px;

}
header nav ul li {
   cursor: pointer;
    transition: .4s;
    width: 94px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    padding: 2px 6px ;
}
header nav ul li:hover{
    background-color:var(--fds-comment-background);

}
header nav ul li .icon-inf{
    position: relative;
    top: 70%;
    left: 10%;
    transform: translate(-10%,-10%);
    display: none;
    bottom: -26%;
    background-color:rgba(0, 0, 0, 0.832) ;
    color: white;
    text-transform: capitalize;
    padding: 8px 0;
    width: 50px;
    height:16;
    margin: auto;
    font-size: 14px;
    display: none;
    text-align: center;
    border-radius: 8px;
    
}
header nav ul li #marketplace{
    width: auto;
}
header nav ul li:hover .icon-inf{
    display: block;

}

header ul li .icon img{
    width: 100%;
    height: 100%;
}
.white{
    background-color: black;
}
header ul .menu-icon {
    position: relative;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header ul .menu-icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

header menu ul {
    display: flex;
    gap: 1em;
}
header menu ul li{
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: var(--fds-gray-10);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
  
}
header menu ul li:hover{
    background-color: var(--fds-spectrum-blue-gray-tint-70);
}
header menu .menu-icon .menuI{ 
    text-align: center;
    font-size: 2em;
    margin-top: -6px;
}
#menuI-inf{
    margin-left: -20px;
    margin-top: -3px;
}
header menu ul li .icon-inf{
    position: relative;
    top: 80%;
    left: 0%;
    transform: translate(-10%,-10%);
    display: none;
    bottom: -26%;
    background-color:rgba(0, 0, 0, 0.832) ;
    color: white;
    text-transform: capitalize;
    padding: 8px 0;
    width: 80px;
    height:auto;
    margin: auto;
    font-size: 15px;
    display: none;
    text-align: center;
    border-radius: 8px;
    
}
header menu ul li:hover .icon-inf{
    display: block;
}


/* filanizamos as estilizacao no cabecalho */


/* estilizacao no main(o conteu do nosso site) */


body{
    background-color: var(--fds-highlight-cell-background);
}

main .car-contenear{
   margin-top: 80px;
   margin-left: 80px;

    display: flex;
    max-width: 680px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
   
}
main .car-contenear::-webkit-scrollbar{
    display: none;
}
main .box-story{
    display: flex;
    gap: 1em;
}
main .car-story .story{
    width: 110px;
    height: 188px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(65, 64, 64, 0.262);
    cursor: pointer;
    transition: .6s;
}
main .car-story .story:hover{
    filter: grayscale(50%);

}
main .car-story .story .principal{
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: .6s;
}
main .Mystory{
    width: 100%;
    height: 76%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;    
    filter: grayscale(100%);

}
main .iformation{
    position: relative;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    margin-top: -10px;

}
main .iformation span{
    position: absolute;
    display: block;
    top: 2px;
    left: 0%;
    height: 34px;
    width: 34px;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
    background-color: var(--fds-blue-60);
    z-index: 100000;
    box-shadow: 0px 0px 10px white;
    
}
.iformation div{
    position: absolute;
    display: block;
    top: -1.4em;
    left: 36%;
    height: 36px;
    width: 39px;
    padding: 4px;
    background-color: white;
    box-shadow: 0px 0px 10px white;

}
.iformation  h4{
    padding-top: 36px;
    padding-bottom: 10px;
    text-align: center;

}




@media (max-width:900px) {
    header{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    nav{
        display: none;
    }
    main .car-contenear{
        display:flex;       
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        width: 90%;
        margin-left:0;

    }
}